/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #FFF;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding-top: 50px;
}

.navbar {
  margin-bottom: 0;
}

.main-content {
  padding: 10px;
  height:calc(100vh - 320px);
}

.list-group {
  overflow-y: auto;
  height:100%;
  -webkit-overflow-scrolling: touch;
}
